@use "../abstracts/" as *;

.heading-1 {
  color: var(--text-color);
  font-weight: $heading-font-weight;
  font-size: $font-size-500;

  font-family: $heading-font-family;
  line-height: $heading-line-height;
  letter-spacing: inherit;
  text-transform: uppercase;
}

.heading-2 {
  @include heading(
    $font-size-500,
    $color-neutral-900,
  );
}

.heading-3 {
  @include heading($font-size-700, $color-neutral-400);
}
