@use "../abstracts/" as *;

.grid-auto-fit {
  --min-item-width: #{rem(220)};

  display: grid;
  grid-gap: var(--grid-gap, $grid-gap);
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(min(var(--min-item-width), 100%), 1fr)
    );
}
